* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    background-color: slategrey;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    grid-column: 1 / 3;
  }
  

  footer {
    display: grid;
    background-color: slategrey;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    margin-top: 50rem;
    
    
  }

  .icone-volta{
    background-color: tomato;
    
  }

  .videos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50rem;
  }